.navtop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px,100px,40px,100px ;
    
    box-sizing: border-box;
}
.navtop div>div img {
    height: 45px;
    width: 45px;
}
#searchdiv{
 margin-top: 30px;
 margin-left: 20px;
}
.search{
    border: none;
    font-size: 15px;
}
.searchicon{
    height:15px ;
    width:15px ;
}
.logoimg{
    height: 60px;
    width: 100px;
}
.navtop hr{
    color: blue;
}
.navtop div >div{
    display: flex;
}
.icn{
    height: 30px;
    width: 30px;
    margin: 20px;
    border: 2px solid black;
}
.icnbtn{
    margin-top: 20px;
    background-color: rgb(236, 166, 178);
    border: none;
    margin-bottom: 20px;
}
.navbottom{
    display: flex;
    width: 80%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 150px;
    font-weight: 900;
    margin-top: none;
    margin-bottom: 20px;
}
/* nav bar is done */
/* slidefull */
#fullslide1{
   width: 100%;

}
#fullslide1 img{
 width: 95%;
margin-left: 30px;
}

.grid {
    width: 100%;
display: grid;
grid-template-columns:repeat(2,600px) ;
grid-template-rows:repeat(3,280px) ;
gap:20px,20px ;
box-sizing: border-box;
width: fit-content ;
margin: auto;
}
.grid div>img{
    
    height:300px;
    width: 590px;
}







/* css buttom */
#box16{
  background-color: rgb(245, 212, 218);
  box-sizing: border-box;
  height: 150px;
  text-align: center; 
  font-size: 35px; 
}
#box17{
    padding: auto;
    box-sizing: border-box;
    margin-top:25px ;
    margin-bottom: 30px;
}
.img17{
    margin-left: 30px;
}
#box18{
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 80px 20px 80px;
    border: 1px solid rgb(207, 204, 204);
    margin-top: 15px;
}
#box18 div{
    width: 100%;
}
#box18 h3{
    text-align: center;
    color: rgb(51, 48, 48);
   font-size:20px ;
}
#box18 p{
    text-align: center;
    color: rgb(94, 91, 91);
}
.img18{
    margin-left: 130px;
}
#box19{
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 50px 20px 50px;
    background-color: aliceblue;
}
#box19  h2{
    color: rgb(58, 53, 53);
    font-size: 30px;
    font-weight: 400;
}
#box19 p{
    color: white;
}
.divbox19{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 400px;
    background-color: pink;
}
#box20{
    background-color: aliceblue;
    margin-left: 40px;
    margin-right: 40px;
}
#box20 p{
    color: rgb(146, 139, 139);
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    
}
#box21{
margin-left: 90px;
margin-bottom: 40px;
margin-top: 40px;


}
#footer{
width: 1250px;
text-align: left;
color: rgb(88, 83, 83);
font-size: 14px;
}
#box21{
    
    display: flex;
    justify-content: space-around;
}
#box21 p{
    color: rgb(88, 82, 82);
    margin-top: 10px;
    font-weight: 800;
}
.icon21{
 display: flex;
}
.img21{
    height: 25px;
    width: 25px;
    padding: 4px;
}









